#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

body.flex-start {
  justify-content: flex-start;
}

body.flex-end {
  justify-content: flex-end;
}

body.center {
  justify-content: center;
}

.container {
  width: 460px;
  min-width: 300px;
  max-width: 460px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.reset-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid var(--color-warning);
  cursor: pointer;
}

:hover.reset-button {
  background-color: var(--color-warning);
  color: var(--color-background);
}

.clear-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid var(--color-error);
  cursor: pointer;
}

.dice-button-container {
  display: grid;
  place-items: center;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 10px 20px;
}

.dice-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: large;
  border: 2px solid var(--color-primary);
  cursor: pointer;
}

:hover.dice-button {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.diced-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  max-height: 35rem;
  overflow-y: auto;
}

.diced-number-label {
  width: 1rem;
}

.diced-number {
  display: flex;
  justify-content: space-between;
}

.diced-number > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.diced-label {
  font-size: large;
}

.clear-button {
  padding: 5px 5px;
  border-radius: 5px;
  border: 2px solid var(--color-error);
  cursor: pointer;
}

.alignment-options > button:hover {
  background-color: var(--color-secondary);
  color: var(--color-background);
  cursor: pointer;
}

/* TOASTS */
.toast {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 13px 15px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.toast-reroll {
  background-color: var(--color-warning);
  color: var(--color-background);
}

.toast-dice {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.toast-clear {
  background-color: var(--color-error);
}

/* RESPONSIVE */
/* Desktop */
@media screen and (min-width: 768px) {
  container {
    width: 460px;
  }
}